<div class="container-fluid pt-3">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row removable">
    <div class="card-group w-100">
      <div class="card border shadow-none">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Total cases
              </h5>
              <span class="h2 font-weight-bold mb-0">350,897</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
              >
                <i class="fa fa-user"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"
              ><i class="fa fa-arrow-up"></i> 3.48%</span
            >
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
      <div class="card border shadow-none border-left-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                total contracts
              </h5>
              <span class="h2 font-weight-bold mb-0">2,530</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow"
              >
                <i class="fa fa-handshake"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"
              ><i class="fa fa-arrow-up"></i> 2.10%</span
            >
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
      <div class="card border shadow-none border-left-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                contracts nearing expiry&nbsp;
              </h5>
              <span class="h2 font-weight-bold mb-0">140</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-success text-white rounded-circle shadow"
              >
                <i class="fa fa-project-diagram"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-success mr-2"
              ><i class="fa fa-arrow-up"></i> 11%</span
            >
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br></br>
  <div class="row removable">
    <div class="col-lg-12"></div>
  </div>
  <div class="row removable">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Contracts expiring soon...</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">contract name</th>
                <th scope="col">vendor</th>
                <th scope="col">contract value</th>
                <th scope="col">Expiry Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>NUST x Soxfort Solutions</td>
                <td>Soxfort Solutions</td>
                <td>$100,000.00</td>
                <td>20/06/2023</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row removable">
    <div class="col-xl-12">
      <div class=""></div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Calendar</h5>
         
        <div class="card-body">
          <div id="calendar">
            <div class="yellow">
              <div id="calendar">
                <div id="toolbar"></div>
                <div id="dates" class="show">
                  <div id="lastMt">&lsaquo;</div>
                  <div id="nextMt">&rsaquo;</div>
                  <div id="months-cont">
                    <div id="months">
                    <span class="active month">January</span><span class="month">February</span><span class="month">March</span><span class="month">April</span><span class="month">May</span><span class="month">June</span><span class="month">July</span><span class="month">August</span><span class="month">September</span><span class="month">October</span><span class="month">November</span><span class="month">December</span>
                  </div>
                  </div>
                  <div id="daysotweek">
                    <div class="day">S</div>
                    <div class="day">M</div>
                    <div class="day">T</div>
                    <div class="day">W</div>
                    <div class="day">T</div>
                    <div class="day">F</div>
                    <div class="day">S</div>
                  </div>
                  <div id="days">
                  </div>
                </div>
                <div id="info" class="hide">
                  <div id="actual-date"></div>
                  <div id="back"><</div>
                    <div id="month-name"></div>
                    <div id="weather">
                      <div id="sun"></div>
                      <div id="mountains"></div>
                      <div id="rain">
                        <div class="raindrop" id="drop-1"></div>
                        <div class="raindrop center" id="drop-2"></div>
                        <div class="raindrop center" id="drop-3"></div>
                        <div class="raindrop" id="drop-4"></div>
                      </div>
                      <div id="temp">57&deg;<span>F</span></div>
                    </div>
                    <div id="bg-card">
                      <div class="content"></div>
                    </div>
                  <div id="card">
                    <div class="content">
                      <div id="event-name"></div>
                      <div id="event-details">
                      <div class="col-3">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h3>Location</h3>
                        <p>12345 Generic Ave., Some City, Some State, 12345
                      </div>
                      <div class="col-3">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h3>Time</h3>
                        <p> 12:00 AM </p>
                      </div>
                      <div class="col-3">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h3>Attendee</h3>
                        <p>Me, You, and 2+</p>
                      </div>
                        <div style="clear: both"></div>
                    </div>
                  
                    </div>
                  </div>
                </div>
                <div id="colors" class="hide">
                  <div id="close">&times;</div>
                  <p>Choose theme color</p>
                  <div class="color" id="salmon"></div>
                  <div class="color" id="dkpink"></div>
                  <div class="color" id="red"></div>
                  <div class="color" id="redorg"></div>
                  <div class="color" id="orange"></div>
                  <div class="color" id="orgylw"></div>
                  <div class="color active" id="yellow"></div>
                  <div class="color" id="green"></div>
                  <div class="color" id="aqua"></div>
                  <div class="color" id="teal"></div>
                  <div class="color" id="sltbl"></div>
                  <div class="color" id="pwdbl"></div>
                  <div class="color" id="blue"></div>
                  <div class="color" id="purple"></div>
                  <div class="color" id="dkprpl"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">My Tasks</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Task</th>
                <th scope="col">Due Date</th>
                <th scope="col">STage COmplete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Schedule Meeting</th>
                <td>1,480</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-danger"
                          role="progressbar"
                          aria-valuenow="60"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 60%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">File Report&nbsp;</th>
                <td>5,480</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-success"
                          role="progressbar"
                          aria-valuenow="70"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 70%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Meeting at 17:00Hrs&nbsp;</th>
                <td>4,807</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-primary"
                          role="progressbar"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 80%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Instagram</th>
                <td>3,678</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-info"
                          role="progressbar"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 75%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">twitter</th>
                <td>2,645</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-warning"
                          role="progressbar"
                          aria-valuenow="30"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 30%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>